* {
  all: unset;
  color: white;
  font-size: 14pt;
  border-radius: 16px;
}

@import url("./styles/bar.css");
@import url("./styles/workspaces.css");
@import url("./styles/datetime.css");
@import url("./styles/controls.css");
@import url("./styles/notch.css");
@import url("./styles/logo.css");
