#bar-inner {
  margin: 0 0.5rem 0 0.5rem;
}

#center-box {
  background-color: black;
  border-radius: 0 0 16px 16px;
  min-width: 20rem;
}

#right-inverted-corner {
  box-shadow: -0.5em -1em 0 0 black;
  background-color: transparent;
  min-width: 3rem;
  border-radius: 16px 0 0 0;
}

#left-inverted-corner {
  box-shadow: 0.5em -1em 0 0 black;
  background-color: transparent;
  min-width: 3rem;
  border-radius: 0 16px 0 0;
}
